<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=file.name%></title>
</head>
<body>
  <a href="/">Home</a>
<% if (file.folder.ownerId === locals.currentUser.id) {%>
  <a href="/folder/<%=file.folderId%>"><button><%=file.folder.name%></button></a>
  <h1><%=file.name%></h1>
  <p>Size: <%= file.size%> b</p>
  <p>Uploaded: <%= file.uploaded%></p>
  <p>Download: <a href="<%= file.filepath%>"><%= file.filepath%></a></p>
  <button onclick="deleteFile()">Delete file</button>
  <form class="delete-file" style="display: none;" method="POST" action="/deleteFile/<%=file.id%>">
    <label>Are you sure you want to delete this file?</label>
    <button type="button" onclick="closePrompt()">Cancel</button>
    <button type="submit">Confirm</button>
  </form>
  <script>
    function deleteFile() {
      document.querySelector('.delete-file').style.display = 'block'
    }
    function closePrompt() {
      document.querySelector('.delete-file').style.display = 'none'
    }
  </script>
<%} else {%>
  <p>You do not have permission to view this file.</p>
  <%}%>
</body>
</html>