<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=folder.name%></title>
</head>
<body>
  <a href="/">Home</a>
  <% if (locals.currentUser && folder.ownerId === locals.currentUser.id) {%>
    <h2><%= folder.name %></h2>
    <%if(!folder.isMain){%>
      <button onclick="changeFolderName()">Change folder name</button>
      <form class="change-name" style="display: none;" method="POST" action="/renameFolder/<%=folder.id%>">
        <label>Update name 
          <input type="text" value="<%=folder.name%>" name="newName">
          <button type="button" onclick="closePrompt()">Cancel</button>
          <button type="submit">Confirm</button>
        </label>
      </form>
      <button onclick="deleteConfirm()">Delete <%folder.name%></button>
      <form class="delete-confirm" style="display: none;" method="POST" action="/deleteFolder/<%=folder.id%>">
        <label>Are you sure you want to delete this folder?</label>
        <button type="button" onclick="closePrompt()">Cancel</button>
        <button type="submit">Confirm</button>
      </form>
      <%if (!folder.parentFolder.isMain){%>
        <p><button><a href="/folder/<%=folder.parentFolder.parentId%>">...</a></button> > <button><a href="/folder/<%=folder.parentId%>"><%=folder.parentFolder.name%></a></button> > <button class="currentFolder"><%=folder.name%></button></p>
      <% } else{%>
      <p><button><a href="/folder/<%=folder.parentId%>"><%=folder.parentFolder.name%></a></button> > <button class="currentFolder"><%=folder.name%></button></p>
    <%}}%>
    <button onclick="folderPrompt()">New Folder</button>
    <form class="folder-prompt" style="display: none;" method="POST" action="/addFolder/<%=folder.id%>">
      <label>Folder name: <input name="folderName" type="text"></label>
      <button type="submit">Create folder</button>
      <button type="button" onclick="closePrompt()">Cancel</button>
    </form>
    <a href="/upload/<%=folder.id%>">Upload a file</a>
    <h3>Folders</h3>
    <ul>
    <% folder.subfolders.forEach(subfolder=>{ %>
      <li><a href="/folder/<%=subfolder.id%>"><button><%=subfolder.name%></button></a></li>
    <% }); %>
    </ul>
    <h3>Files</h3>
    <ul>
    <% folder.files.forEach(file=>{ %>
      <li><a href="/file/<%=file.id%>"><%=file.name%></p></a></li>
    <%}); %>
    </ul>
    <script>
      function folderPrompt(){
        document.querySelector('.folder-prompt').style.display = 'block'
      }
      function deleteConfirm(){
        document.querySelector('.delete-confirm').style.display = 'block'
      }
      function changeFolderName(){
        document.querySelector('.change-name').style.display = 'block'
      }
      function closePrompt(){
        document.querySelector('.folder-prompt').style.display = 'none'
        document.querySelector('.delete-confirm').style.display = 'none'
        document.querySelector('.change-name').style.display = 'none'
      }
    </script>
    
  <%} else {%>
    <p>You do not have permission to view this folder</p>
  <% } %>
</body>
</html>