<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%-include('header')%>
  <h1>Home</h1>
  <% if (!locals.currentUser){ %>
    <p>You are not logged in.</p>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <% } %>
  <%if (locals.currentUser) { %>
    <p>You are logged in</p>
    <p>Welcome <%= locals.currentUser.username %></p>
    <a href="/logout">Logout</a>
    <% locals.currentUser.folders.forEach(folder=>{%>
      <% if (folder.isMain === true) {%>
        <h2><%= folder.name %></h2>
            <button onclick="folderPrompt()">New Folder</button>
            <form class="folder-prompt" style="display: none;" method="POST" action="/addFolder/<%=folder.id%>">
              <label>Folder name: <input name="folderName" type="text"></label>
              <button type="submit">Create folder</button>
              <button type="button" onclick="closePrompt()">Cancel</button>
            </form>
            <button><a href="/upload/<%=folder.id%>">Upload a file</a></button>
            <h3>Folders</h3>
            <ul>
            <% folder.subfolders.forEach(subfolder=>{ %>
              <li><a href="/folder/<%=subfolder.id%>"><button><%=subfolder.name%></button></a></li>
            <% }); %>
            </ul>
            <h3>Files</h3>
            <ul>
            <% folder.files.forEach(file=>{ %>
              <li><a href="/file/<%=file.id%>"><%=file.name%></p></a></li>
            <%}); %>
            </ul>
          <%}%>
    <%})}%>
    
  <script>
    function folderPrompt(){
      document.querySelector('.folder-prompt').style.display = 'block'
    }
    function closePrompt(){
        document.querySelector('.folder-prompt').style.display = 'none'
    }
  </script>
</body>
</html>