<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=folder.name%></title>
</head>
<body>
  <%-include('header')%>
  <a href="/">Home</a>
  <% if ((new Date() < folder.expiration)) { %>
    <h1><%=folder.name%></h1>
    <p>This folder is available until <%=folder.expiration.toLocaleString()%></p>
    <p>Copy this address to share this folder: <strong><%=shareUrl%></strong></p>
        <a href="/share/<%=folder.shareId%>">Link to shared folder</a>
    <h3>Files</h3>
    <ul>
    <% folder.files.forEach(file=>{ %>
      <li><a href="/fileshare/<%=folder.shareId%>/<%=file.id%>"><%=file.name%></a></li>
    <%}); %>
    </ul>
  <%} else {%>
    <p>Your share link has expired.</p>
    <%}%>
</body>
</html>